<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Editar Usuario</h1>
    <form th:action="@{/usuarios/{id}(id=${id})}" th:method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" th:field="*{entity.username}">
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{entity.nombre}">
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{entity.apellido}">
        </div>
        <div class="mb-3">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" th:field="*{{entity.fechaNacimiento}}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>