<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Error</h1>
        <p class="lead">Ha ocurrido un error en la aplicación.</p>
        <hr class="my-4">
        <h4>Detalles del error:</h4>
        <h5 class="font-weight-bold" th:text="${error}"></h5>
        <p th:text="${mensaje}"></p>
        <pre th:each="linea : ${causa}"  class="text-danger" th:text="${linea.toString()}"></pre>
    </div>
</div>
<!-- Cargamos el script de Bootstrap al final del archivo para mejorar la velocidad de carga -->
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
